

.root{
    -fx-background-image: url('../Images/fondo.jpg'), url('../Images/logo.png') ;
    -fx-background-size: 800 600, 120 180;
    -fx-background-repeat: stretch, no-repeat;
    -fx-background-position: center, right bottom;
}

.menu-bar{
     -fx-background-color: #E88224;
     -fx-border-color: #FF0011;
     -fx-border-width: 4;
}

.menu:hover{
    -fx-background-color: #000000;
    -fx-font-weight: bold;

}

.label:hover{
    -fx-font-size: 15 pt;
}

.menu-item{
    -fx-background-color: #997f5b;
    -fx-border-color:  #00FF00;
}